<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Evaluate News NLP</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <h1>Project Evaluate News NLP</h1>

  <form id="main-form">
    <textarea name="form-text" id="form-text" cols="30" rows="10" placeholder="Give Me The News!"></textarea>
    <button type="submit">Analyze!</button>
  </form>

  <div class="results">

  </div>
</body>

</html>