main {
  width: max-content;
  display: grid;
  grid-template-rows: 1fr 1fr;
  // align-items: center;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    width: 80%;
    align-content: center;
  }
  @media (min-width: 1200px) {
    width: 60%;
  }
}