*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto min-content;
  justify-items: center;
  color: #d1d5db;
  background-color: #111827;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}